* {
  font-family: Segoe UI;
}


.wrapper {
    max-width: calc(1120px - (30px * 2)) !important;
}

.title {
    margin-top: 30px;
    font-size: 46px;
    font-weight: 600;
    text-align: center;
}

.title-description {
    text-align: center;
}

.category {
    margin-top: 70px;
    font-weight: 600;
    text-align: center;
    font-size: 32px;
}

.paragraph {
    margin-top: 30px;
    line-height: 30px;
    font-size: 22px;
    text-align: center;
}

.text-button {
    margin-top: 30px;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
}

.subtitle {
    text-align: center;
    font-size: 28px;
    margin-top: 50px;
    font-weight: 600;
}

.home-card {
    display: flex;
    margin-top: 30px;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.25);
}

.home-card-image {
    width: 50%;
}

.home-card-content-toolkit {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-card-content-contribute {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-card-title {
    font-size: 32px;
    font-weight: 600;
}

.home-card-text {
    margin-left: 160px;
    margin-right: 60px;
}

.home-button {
    background-color: #0067B8;
    color: white;
    border-radius: 2px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
    width: 290px;
    margin-left: 100px;
    cursor: pointer;
    font-weight: 600;
}

.home-get-touch {
    width: 70%;
    margin-left: 15%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
}

.home-get-touch-title {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    border-bottom: 3px solid white;
}

.get-touch-button {
    background-color: #0067B8;
    color: white;
    border-radius: 2px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 230px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.home-get-touch-content {
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

.home-get-touch-content-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}

.home-get-touch-content-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    border-bottom: 3px solid white;
}

.borders {
    padding: 30px;
    border-top: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2;
}

.toolkit-borders {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2;
}

.toolkit-cards {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.toolkit-row {
    display: flex;
}

.toolkit-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    text-align: center;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.25);
}

.toolkit-card-title {
    margin-top: 20px;
    font-weight: 600;
    font-size: 22px;
}

.toolkit-card-content {
    margin-top: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #0067B8;
    text-decoration: underline;
    margin-bottom: 35px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.toolkit-card.left {
    margin-right: 20px;
    margin-bottom: 20px;
}

.toolkit-card.right {
    margin-bottom: 20px;
}

.see-more {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    background-color: #0067B8;
    width: 250px;
    height: 60px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 26px;
}

.accelerator-buttons {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    background-color: #0067B8;
    width: 500px;
    height: 60px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 26px;
}

.delivery-accelerators {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.delivery-accelerators-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 22%;
    height: 215px;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.checkbox {
    width: 50px;
    height: 50px;
}

.label-checkbox {
    width: 100%;
    margin-left: 15px;
    font-size: 20px;
}

.dropdowns-container {
    display: flex;
    margin-top: 20px;
}

.custom-select {
    width: 50%;
}

.custom-select:first-child {
    margin-right: 10px;
}

.toolkit-select {
    width: 100%;
    height: 45px;
    text-align: center;
    font-size: 16px;
    border: none;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.25);
    color: #0067B8;
    font-weight: 600;
}

.prerequisites {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 50px;
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 50px;
}

.prerequisites-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 28%;
    text-align: center;
    box-shadow: 0px 1px 13px rgb(0 0 0 / 25%);
    height: 100px;
}

.prerequisites-text {
    margin-left: 25px;
    font-weight: 600;
    color: #0067B8;
    text-decoration: underline;
}

.solution-accelerator-use-case {
    display: flex;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 30px;
}

.accelerator-description {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #F2F2F2;
}

.accelerator-acordeon {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
}

.accelerator-button {
    background-color: #0067B8;
    color: white;
    border-radius: 2px;
    margin: 0 auto;
    margin-top: 10px;
    width: 290px;
    cursor: pointer;
    font-weight: 600;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    color: #0067B8;
    text-decoration: underline;
    line-height: 40px;
    margin-bottom: 20px;
}

.technologies span {
    width: 25%;
}

.accelerator-contributors {
    display: flex;
    flex-wrap: wrap;
}

.accelerator-contributor {
    display: flex;
    margin-top: 20px;
    margin-right: 40px;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.25);
}

.accelerator-contributor-text {
    text-decoration: none;
}

.accelerator-contributor-job {
    font-weight: 600;
    color: #0067B8;
    text-decoration: none;
}

.csslider {
    -moz-perspective: 1300px;
    -ms-perspective: 1300px;
    -webkit-perspective: 1300px;
    perspective: 1300px;
    display: inline-block;
    text-align: left;
    position: relative;
    margin-bottom: 22px;
}
.csslider > input {
    display: none;
}
.csslider > input:nth-of-type(10):checked ~ ul li:first-of-type {
    margin-left: -900%;
}
.csslider > input:nth-of-type(9):checked ~ ul li:first-of-type {
    margin-left: -800%;
}
.csslider > input:nth-of-type(8):checked ~ ul li:first-of-type {
    margin-left: -700%;
}
.csslider > input:nth-of-type(7):checked ~ ul li:first-of-type {
    margin-left: -600%;
}
.csslider > input:nth-of-type(6):checked ~ ul li:first-of-type {
    margin-left: -500%;
}
.csslider > input:nth-of-type(5):checked ~ ul li:first-of-type {
    margin-left: -400%;
}
.csslider > input:nth-of-type(4):checked ~ ul li:first-of-type {
    margin-left: -300%;
}
.csslider > input:nth-of-type(3):checked ~ ul li:first-of-type {
    margin-left: -200%;
}
.csslider > input:nth-of-type(2):checked ~ ul li:first-of-type {
    margin-left: -100%;
}
.csslider > input:nth-of-type(1):checked ~ ul li:first-of-type {
    margin-left: 0%;
}
.csslider > ul {
    position: relative;
    width: 820px;
    height: 470px;
    z-index: 1;
    font-size: 0;
    line-height: 0;
    border: 10px solid #ffffff;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.howtocontribute.csslider > ul {
    position: relative;
    width: 720px;
    height: 470px;
    z-index: 1;
    font-size: 0;
    line-height: 0;
    border: 10px solid #ffffff;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.csslider > ul > li {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 15px;
    font-size: initial;
    line-height: normal;
    -moz-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
    transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: normal;
}
.csslider > .navigation {
    position: absolute;
    bottom: -8px;
    left: 50%;
    z-index: 10;
    margin-bottom: -10px;
    font-size: 0;
    line-height: 0;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.csslider > .navigation > div {
      margin-left: -100%;
}
.csslider > .navigation label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 4px;
    padding: 4px;
    background: #3A3A3A;
}
.csslider > .navigation label:hover:after {
    opacity: 1;
}
.csslider > .navigation label:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -6px;
    margin-top: -6px;
    background: #ff0000;
    border-radius: 50%;
    padding: 6px;
    opacity: 0;
}
.csslider > .arrows {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.csslider.inside .navigation {
    bottom: 10px;
    margin-bottom: 10px;
}
.csslider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1):after,
.csslider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(2):after,
.csslider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(3):after,
.csslider > input:nth-of-type(4):checked ~ .navigation label:nth-of-type(4):after,
.csslider > input:nth-of-type(5):checked ~ .navigation label:nth-of-type(5):after,
.csslider > input:nth-of-type(6):checked ~ .navigation label:nth-of-type(6):after,
.csslider > input:nth-of-type(7):checked ~ .navigation label:nth-of-type(7):after,
.csslider > input:nth-of-type(8):checked ~ .navigation label:nth-of-type(8):after,
.csslider > input:nth-of-type(9):checked ~ .navigation label:nth-of-type(9):after,
.csslider > input:nth-of-type(10):checked ~ .navigation label:nth-of-type(10):after,
.csslider > input:nth-of-type(11):checked ~ .navigation label:nth-of-type(11):after {
    opacity: 1;
}
.csslider > .arrows {
    position: absolute;
    left: -31px;
    top: 50%;
    width: 100%;
    height: 26px;
    padding: 0 31px;
    z-index: 0;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.csslider > .arrows label {
    display: none;
    position: absolute;
    top: -50%;
    padding: 13px;
    box-shadow: inset 2px -2px 0 1px #3A3A3A;
    cursor: pointer;
    -moz-transition: box-shadow 0.15s, margin 0.15s;
    -o-transition: box-shadow 0.15s, margin 0.15s;
    -webkit-transition: box-shadow 0.15s, margin 0.15s;
    transition: box-shadow 0.15s, margin 0.15s;
}
.csslider > .arrows label:hover {
    box-shadow: inset 3px -3px 0 2px #ff0000;
    margin: 0 0px;
}
.csslider > .arrows label:before {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    height: 300%;
    width: 300%;
}
.csslider.infinity > input:first-of-type:checked ~ .arrows label.goto-last,
.csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(0),
.csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(1),
.csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(2),
.csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(3),
.csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(4),
.csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(5) {
    display: block;
    left: 0;
    right: auto;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.csslider.infinity > input:last-of-type:checked ~ .arrows label.goto-first,
.csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(2),
.csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(3),
.csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(4),
.csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(5),
.csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(6),
.csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(7) {
    display: block;
    right: 0;
    left: auto;
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}
/*#region MODULES */
/*#endregion */
/*___________________________________ LAYOUT ___________________________________ */
* {
    margin: 0;
    padding: 0;
}
ul {
    padding-left: 40px;
}

    #slider1 {
    margin: 20px;
    font-family: 'Lato';
}
#slider1 > input:nth-of-type(3):checked ~ ul #bg {
    width: 80%;
    padding: 22px;
    -moz-transition: .5s .5s;
    -o-transition: .5s .5s;
    -webkit-transition: .5s .5s;
    transition: .5s .5s;
}
#slider1 > input:nth-of-type(3):checked ~ ul #bg div {
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
    -moz-transition: .5s .9s;
    -o-transition: .5s .9s;
    -webkit-transition: .5s .9s;
    transition: .5s .9s;
}

video { 
    width:100%; 
    height:100%;  
    background:transparent url('') no-repeat 0 0; 
    -webkit-background-size:cover; 
    -moz-background-size:cover; 
    -o-background-size:cover; 
    background-size:cover; 
}

iframe {
    width:100%; 
    height:100%;  
    background:transparent url('') no-repeat 0 0; 
    -webkit-background-size:cover; 
    -moz-background-size:cover; 
    -o-background-size:cover; 
    background-size:cover; 
}

p {
    margin-left:3em;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contributors-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 140px;
}

.contributor-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 30px;
    align-items: center;
    width: 180px;
    height: 310px;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.25);
}

.contributor-name {
    margin-top: 15px;
    font-size: 26px;
    font-weight: 600;
}

.contributor-job-title {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 600;
    color: #0067B8;
}

.contributor-area {
    margin-top: 15px;
    font-size: 16px;
    color: #0067B8;
}

.sidenav {
    margin-top: 75px;
    margin-right: 50px;
    height: 100%;
    width: 325px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F2F2F2;
    overflow-x: hidden;
  }
  
  .sidenav span, .dropdown-btn {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #24292E;
    display: block;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }

  .dropdown-btn {
    border: 1px solid #9C9999
  }
  
  .sidenav span:hover, .dropdown-btn:hover {
    color: #24292E;
  }
  
  .main {
    margin-left: 200px;
    font-size: 20px;
    padding: 0px 10px;
  }
  
  .active {
    color: #24292E;
  }
  
  .dropdown-container {
    display: none;
    background-color: #F2F2F2;
    padding-left: 8px;
  }

  .howtocontribute-option.active { 
      margin-top: 10px;
      border-left: 6px solid #0067B8;
  }

