* {
  font-family: Segoe UI;
}

.wrapper {
    max-width: calc(1120px - (30px * 2)) !important;
}

.title {
    margin-top: 30px;
    font-size: 46px;
    font-weight: 600;
    text-align: center;
}

.title.howtocontribute {
    position:absolute; 
    color:white; 
    top: 55%;
    left: 22%; 
    font-size:42px;
}

.title-description {
    text-align: center;
}

.category {
    margin-top: 70px;
    font-weight: 600;
    text-align: center;
    font-size: 32px;
}

.paragraph {
    margin-top: 30px;
    line-height: 30px;
    font-size: 22px;
    text-align: center;
}

.home-paragraph {
    margin: 30px;    
    line-height: 30px;
    font-size: 22px;
    text-align: center;
}

.subtitle {
    text-align: center;
    font-size: 28px;
    margin-top: 50px;
    font-weight: 600;
}

.home-card {
    margin: 30px;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.25);
}

.home-get-touch {
    width: 70%;
    margin-left: 15%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
}

.home-get-touch-title {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    border-bottom: 3px solid white;
}


.text-button {
    margin-top: 30px;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
}

.get-touch-button {
    background-color: #0067B8;
    color: white;
    border-radius: 2px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 230px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.home-get-touch-content {
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

.home-get-touch-content-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}

.home-get-touch-content-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    border-bottom: 3px solid white;
}

.borders {
    padding: 30px;
    border-top: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2;
}

.toolkit-borders {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2;
}

.accelerator-toolkit-card {
    align-items: center;
    text-align: center;
}

.toolkit-card {
    align-items: center;
    text-align: center;
    display: none;
}

.show-toolkit-card {
    display: block;
}

.toolkit-card-title {
    margin-top: 20px;
    font-weight: 600;
    font-size: 22px;
    padding-left: 30px;
    padding-right: 30px;
}

.toolkit-card-content {
    font-weight: 600;
    font-size: 16px;
    color: #0078d4;
}

.see-more {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    background-color: #0067B8;
    width: 250px;
    height: 60px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 26px;
}

.accelerator-buttons {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: #0067B8;
    color: white;
    font-size: 26px;
    padding: 5px;
}

.delivery-accelerators {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.delivery-accelerators-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 22%;
    height: 215px;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.checkbox {
    width: 50px;
    height: 50px;
}

.label-checkbox {
    width: 100%;
    margin-left: 15px;
    font-size: 20px;
}

.dropdowns-container {
    display: flex;
    margin-top: 20px;
}

.custom-select {
    width: 50%;
}

.custom-select:first-child {
    margin-right: 10px;
}

.toolkit-select {
    width: 100%;
    height: 45px;
    text-align: center;
    font-size: 16px;
    border: none;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.25);
    color: #0067B8;
    font-weight: 600;
}

.prerequisites {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 50px;
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 50px;
}

.prerequisites-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 28%;
    text-align: center;
    box-shadow: 0px 1px 13px rgb(0 0 0 / 25%);
    height: 100px;
}

.prerequisites-text {
    font-weight: 600;
    color: #0078d4;
}

.solution-accelerator-use-case {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 30px;
}

.accelerator-use-case {
    width: 50%;
}

.accelerator-description {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #F2F2F2;
}

.accelerator-description-content {
    margin-top: 50px; 
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.25);
}

.related-accelerators-contributing {
    width:100%; 
    display: flex; 
    justify-content:space-between; 
    margin-top:50px; 
    border-bottom: 1px solid #D2D2D2; 
    padding-bottom: 50px;
}

.related-accelerators-links {
    display:flex; 
    align-items:center; 
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.25);
}

.accelerator-acordeon {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    color: #0078d4;
    line-height: 40px;
    margin-bottom: 20px;
}

.technologies span {
    margin-right: 25px;
    margin-left: 25px;
}

.accelerator-contributor {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 28%;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.25);
}

.accelerator-contributor-text {
    text-decoration: none;
}

.accelerator-contributor-job {
    font-weight: 600;
    color: #0067B8;
    text-decoration: none;
}

/*#region MODULES */
/*#endregion */
/*___________________________________ LAYOUT ___________________________________ */
* {
    margin: 0;
    padding: 0;
}
ul {
    padding-left: 40px;
}

    #slider1 {
    margin: 20px;
    font-family: 'Lato';
}
#slider1 > input:nth-of-type(3):checked ~ ul #bg {
    width: 80%;
    padding: 22px;
    -moz-transition: .5s .5s;
    -o-transition: .5s .5s;
    -webkit-transition: .5s .5s;
    transition: .5s .5s;
}
#slider1 > input:nth-of-type(3):checked ~ ul #bg div {
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
    -moz-transition: .5s .9s;
    -o-transition: .5s .9s;
    -webkit-transition: .5s .9s;
    transition: .5s .9s;
}

video { 
    width:100%; 
    height:100%;  
    background:transparent url('') no-repeat 0 0; 
    -webkit-background-size:cover; 
    -moz-background-size:cover; 
    -o-background-size:cover; 
    background-size:cover; 
}

iframe {
    width:100%; 
    height:100%;  
    background:transparent url('') no-repeat 0 0; 
    -webkit-background-size:cover; 
    -moz-background-size:cover; 
    -o-background-size:cover; 
    background-size:cover; 
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contributors-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 140px;
    justify-content: center;
}

.contributors-list div {
    margin: 20px;
}

.contributor-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding-bottom: 30px;
    align-items: center;
    width: 220px;
    height: 310px;
    box-shadow: 0px 1px 13px rgb(0 0 0 / 25%);
    margin-right: 15px;
    margin-left: 15px;
}

.contributor-name {
    margin-top: 15px;
    font-size: 26px;
    font-weight: 600;
}

.contributor-job-title {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 600;
    color: #0067B8;
}

.contributor-area {
    margin-top: 15px;
    font-size: 16px;
    color: #0067B8;
}

.sidenav {
    margin-top: 75px;
    margin-right: 50px;
    height: 100%;
    width: 325px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F2F2F2;
    overflow-x: hidden;
  }
  
  .sidenav a, .dropdown-btn {
    padding: 15px;
    text-decoration: none !important;
    font-size: 18px;
    font-weight: 600;
    color: #24292E;
    display: block;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }

  .dropdown-btn {
    border: 1px solid #9C9999
  }
  
  .sidenav span:hover, .dropdown-btn:hover {
    color: #24292E;
  }
  
  .main {
    margin-left: 200px;
    font-size: 20px;
    padding: 0px 10px;
  }

  .dropdown-container {
    display: none;
    background-color: #F2F2F2;
    padding-left: 8px;
  }

  .howtocontribute-option.active { 
    margin-top: 10px;
  }

  .howtocontribute-body {
    display: flex;
    margin-top: 50px;
  }

  .howtocontribute-subtitle {
    font-weight: 600; 
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
  }

  .sidenav-content {
      width: 75%;
  }
 

  @media all and (max-width: 920px) {
    .contributor-card {
        width: 100px;
        height: 150px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .contributor-name {
        font-size: 14px;
    }

    .home-get-touch {
        width: 100%; 
        margin-left: 0px;
    }
    
    .home-get-touch-content {
        flex-direction: column;
    }

    .home-get-touch-content-left {
        width: 100%;
        border-right: none;
    }

    .home-get-touch-content-right {
        width: 100%;
    }
    
}

@media all and (max-width: 550px) {
    .howtocontribute-body {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .sidenav {
        margin-top: 30px;
        margin-right: 0px;
        margin-bottom: 50px;
    }

    .sidenav-content {
        width: 85%;
        margin-left: 10px;
    }
}