.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F2F2F2;
    display:flex;
    padding: 20px;
    align-self: center;
    text-align: center;
    justify-content: center;
}

.site-footer-text {
    padding-left: 20px;
    padding-right: 20px;
}