.header {
    height: 70px;
    color: #0000;
    font-size: 22px;
    line-height: 60px;
}

.links {
  height: 100%;
  width: 70%;
  display: flex;
  margin-left: 15%;
}

.link-block {
  width: 20%;
  display: flex;
  justify-content: center;
}

.logo-image{
  width: 70px;
  height: 80px;
  overflow: hidden;
}


a:link {
    color: #0078d4;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:visited {
    color: #243a5e;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:hover, a:active {
    color: #50e6ff;
    background-color: transparent;
    text-decoration: underline;
  }