<!DOCTYPE html>
<html>
<head>
  <link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>

<footer class="site-footer h-card">
  <div class="subtitle">GET IN TOUCH</div>
  <div class="card-container">
    <div class="card">
      <i class="material-icons">calendar_month</i>
      <p>Join the next Data Science Toolkit</p>
      <p>Office Hours call</p>
    </div>
    <div class="card">
      <i class="material-icons">email</i>
      <p>Get in touch with the</p>
      <p>Data Science Toolkit Team</p>
    </div>
    <div class="card">
      <i class="material-icons">forum</i>
      <p>Post a question on the</p>
      <p>Data Science Toolkit Teams Site</p>
    </div>
  </div>

</footer>

</body>
</html>
