<!DOCTYPE html>
<html>
<head>
  <link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>

<footer>
  <div class="footer">
    <p class="site-footer-text"><a href="https://support.microsoft.com/contactus" target="_blank">Contact Microsoft</a></p>
    <p class="site-footer-text"><a href="https://go.microsoft.com/fwlink/?LinkId=521839" target="_blank">Privacy</a></p>
    <p class="site-footer-text">Manage cookies</p>
    <p class="site-footer-text"><a href="https://go.microsoft.com/fwlink/?LinkID=206977" target="_blank">Terms of use</a></p>
    <p class="site-footer-text"><a href="https://www.microsoft.com/trademarks" target="_blank">Trademarks</a></p>
    <p class="site-footer-text"><a href="https://choice.microsoft.com/" target="_blank">About our ads</a></p>
    <p class="site-footer-text">© Microsoft 2022</p>
  </div>
</footer>

</body>
</html>