<!DOCTYPE html>
<html>
<head>
  <link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>

<footer class="h-card">
  <div class="site-footer">
    <span class="site-footer-text"><a href="https://support.microsoft.com/contactus" target="_blank">Contact Microsoft</a></span>
    <span class="site-footer-text"><a href="https://go.microsoft.com/fwlink/?LinkId=521839" target="_blank">Privacy</a></span>
    <span class="site-footer-text">Manage cookies</span>
    <span class="site-footer-text"><a href="https://go.microsoft.com/fwlink/?LinkID=206977" target="_blank">Terms of use</a></span>
    <span class="site-footer-text"><a href="https://www.microsoft.com/trademarks" target="_blank">Trademarks</a></span>
    <span class="site-footer-text"><a href="https://choice.microsoft.com/" target="_blank">About our ads</a></span>
    <span class="site-footer-text">© Microsoft 2022</span>
  </div>
</footer>

</body>
</html>