<!DOCTYPE html>
<html>
<head>
  <link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
</head>

<body>

<header role="banner">

    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}

    {%- if page_paths -%}
      <div class="header">
        <div class="logo">
          <img src="../images/DatascienceToolkit.jpg" alt="logo" width="50" height="50">
          <span style="font-weight: 600;">Data Science Toolkit</span>
        </div>

        <div class="links" id="links-menu">
            <div class="link-block">
              <a class="page-link" id="home" style="color:black;text-decoration:none" href="/">Home</a>
            </div>
            <div class="link-block">
              <a class="page-link" id="toolkit" style="color:black;text-decoration:none" href="/toolkit/">Toolkit</a>
            </div>
            <div class="link-block">
              <a class="page-link" id="howtocontribute" style="color:black;text-decoration:none" href="/howtocontribute/">How to Contribute</a>
            </div>
            <div class="link-block">
              <a class="page-link" id="contributors" style="color:black;text-decoration:none" href="/contributors/">Contributors</a>
            </div>
            <div class="link-block" id="link-news">
              <a class="page-link" id="news" style="color:black;text-decoration:none" href="/news/">News</a>
            </div>
            <div class="search">
              <i class="material-icons" style="font-size: 30px;">search</i>
            </div>
        </div>

        <div class="menu" id="toggle-menu">
          <i class="material-icons" style="font-size: 30px;">menu</i>
        </div>
      </div>
    {%- endif -%}
</header>

<script src="/scripts/script-navbar.js" type="text/javascript"></script>

</body>
</html>