<!DOCTYPE html>
<html>
<head>
  <link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
</head>

<body>

<header role="banner">

    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}

    {%- if page_paths -%}
      <div class="header">
        <div class="logo">
          <img src="../images/DatascienceToolkit.jpg" alt="logo" width="50" height="50">
          <span style="font-weight: 600;">Data Science Toolkit</span>
        </div>

        <div class="links">
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <div class="link-block">
              <a class="page-link" style="color:black;text-decoration:none" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            </div>
            {%- endif -%}
          {%- endfor -%}
            <div class="search">
              <i class="material-icons" style="font-size: 30px;">search</i>
            </div>
        </div>
      </div>
    {%- endif -%}
</header>

</body>
</html>