<!DOCTYPE html>
<html>
<head>
  <link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
</head>

<body>

<header role="banner">

    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}

    {%- if page_paths -%}
      <div class="header">

        <div class="links">
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <div class="link-block">
              <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}
</header>

</body>
</html>