<!--This is part of the pageAccelerator layout, and is meant to serve as a layout for a single accelerator page-->

<!--Loading the methods to get contributors-->
<script src="/scripts/script-getcontributors.js" type="text/javascript"></script>

<!--HTML template for a single accelerator page-->
<div>
    <!--Header Image-->
    <div class="title-photo">
          <img id="id-title-photo" src="TODO:OverrideUsingJS" alt="header image" height="300" style="width:100%;">
    </div>
    <!--Page Title-->
    <div class="title" id="id-title">TODO:OverrideUsingJS</div>
    <!--Page brief description-->
    <div class="paragraph" id="id-page-description">TODO:OverrideUsingJS</div>
    <!--Prerequisites-->
    <div class="category">Prerequisites</div>
    <div class="prerequisites" id="id-prerequisites">
        <div class="prerequisites-card">
            <span class="prerequisites-text">TODO:OverrideUsingJS</span>
        </div>
        <div class="prerequisites-card">
            <span class="prerequisites-text">TODO:OverrideUsingJS</span>
        </div>
        <div class="prerequisites-card">
            <span class="prerequisites-text">TODO:OverrideUsingJS</span>
        </div>
        <div class="prerequisites-card">
            <span class="prerequisites-text">TODO:OverrideUsingJS</span>
        </div>
        <div class="prerequisites-card">
            <span class="prerequisites-text">TODO:OverrideUsingJS</span>
        </div>
        <div class="prerequisites-card">
            <span class="prerequisites-text">TODO:OverrideUsingJS</span>
        </div>
    </div>
    <div class="toolkit-cards">
        <div class="toolkit-row">
            <!--Access the Accelerator-->
            <div class="toolkit-card left">
                <img src="/images/CLO18_programmingCode_001.jpg" alt="logo" height="170" style="width:100%;">
                <span class="toolkit-card-title">Access the Accelerator</span>
                <span class="toolkit-card-content" id="id-access-accelerator">
                    <span id="id-text-access-accelerator">TODO:OverrideUsingJS</span> <a id="id-link-access-accelerator" href="TODO" target="_blank">TODO</a>
                </span>
            </div>
            <!--Industries-->
            <div class="toolkit-card right">
                <img src="/images/MSC19_paddingtonOffice_019.jpg" alt="logo" height="170" style="width:100%;">
                <span class="toolkit-card-title">Industries</span>
                <span class="toolkit-card-content" id="id-industries">TODO:OverrideUsingJS</span>
            </div>
        </div>
    </div>
    <div class="solution-accelerator-use-case">
        <!--Use Case-->
        <div style="width: 50%;">
            <span style="font-weight:600; margin-right:50px;">Use Case</span>
            <span style="margin-top: 30px;" id="id-usecases">TODO:OverrideUsingJS</span>
        </div>
    </div>
    <!--Accelerator description-->
    <div class="category">Accelerator description</div>
    <div style="display:flex; margin-top: 50px; box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.25);">
        <img src="/images/CLO20_ConferenceRoom_003.jpg" alt="logo" height="275" width="300">
        <div class="accelerator-description" id="id-accelerator-description">
            TODO:OverrideUsingJS
        </div>
    </div>
    <!--Accelerator guidance (Videos)-->
    <div class="category">Accelerator guidance</div>
    <div class="accelerator-guidance-videos">
    <div style="height: 100%; text-align: center">
			<div class="csslider infinity" id="slider1">
			<input type="radio" name="slides" checked="checked" id="slides_1"/>
			<input type="radio" name="slides" id="slides_2"/>
				<ul>
                    <li>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/TODO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</li>
                    <li>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/TODO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </li>
				</ul>
					<div class="arrows">
						<label for="slides_1"></label>
						<label for="slides_2"></label>
						<label class="goto-first" for="slides_1"></label>
						<label class="goto-last" for="slides_10"></label>
					</div>
					<div class="navigation"> 
						<div>
							<label for="slides_1"></label>
							<label for="slides_2"></label>
						</div>
					</div>
			</div>
		</div>
    </div>    
    <div style="width:100%; display: flex; justify-content:space-between; margin-top:50px; border-bottom: 1px solid #D2D2D2; padding-bottom: 50px;">
        <!--Link to Related Accelerator(s)-->
        <div style="display:flex; align-items:center; width:49%; height: 120px; box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.25);">
            <img src="../images/related-accelerators.png" alt="logo" height="70" width="70" style="margin-left:20px;">
                <div style="display:flex; flex-direction:column; justify-content: space-between; margin-left: 20px;">
                    <span style="font-weight:600">Related Accelerator</span>
                    <a id="id-link-related-accelerator" href="/TODO/" target="_blank" style="text-decoration:none">
                        <div id="id-text-related-accelerator" class="text-button accelerator-button">TODO</div>
                    </a>
                </div>
        </div>
        <!--Link to Contributing Guide-->
        <div style="display:flex; align-items:center; width:49%; height: 120px; box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.25);">
            <img src="../images/contributing-guide.png" alt="logo" height="70" width="70" style="margin-left:20px;">
                <div style="display:flex; flex-direction:column; justify-content: space-between; margin-left: 20px;">
                    <span style="font-weight:600">Contributing Guide</span>
                    <a id="id-link-contributing-guide" href="TODO" target="_blank" style="text-decoration:none">
                        <div class="text-button accelerator-button">Contribution guideline</div>
                    </a>
                </div>
        </div>
    </div>
    <!--Technologies-->
    <div class="category" style="margin-bottom: 30px;">Technologies</div>
    <div class="technologies">
        <span><a href="TODO" target="_blank">TODO</a></span>
        <span><a href="TODO" target="_blank">TODO</a></span>
        <span><a href="TODO" target="_blank">TODO</a></span>
        <span><a href="TODO" target="_blank">TODO</a></span>
        <span><a href="TODO" target="_blank">TODO</a></span>
        <span><a href="TODO" target="_blank">TODO</a></span>
        <span><a href="TODO" target="_blank">TODO</a></span>
        <span><a href="TODO" target="_blank">TODO</a></span>
        <span><a href="TODO" target="_blank">TODO</a></span>
        <span><a href="TODO" target="_blank">TODO</a></span>
        <span><a href="TODO" target="_blank">TODO</a></span>
    </div>
  <div class="subtitle borders" style="margin-top:0px">
    <!--Architecture-->
    <button type="button" class="btn" data-toggle="collapse" data-target="#id-collapsibleSectionArch">
        <div class="accelerator-buttons">
            <div style="width: 100%; text-align: center;">
                <span class="see-more-text">Architecture</span>
            </div>
            <i class="material-icons" style="margin-bottom:0px; font-size: 42px; border-left: 3px solid white; padding-left: 10px;">add</i>
        </div>
    </button>
    <div id="id-collapsibleSectionArch" class="collapse">
        TODO:OverrideUsingJS
    </div>
    <!--Branching Strategy-->
    <button type="button" class="btn" data-toggle="collapse" data-target="#id-collapsibleSectionBrStrat">
        <div class="accelerator-buttons">
            <div style="width: 100%; text-align: center;">
                <span class="see-more-text">Branching Strategy</span>
            </div>
            <i class="material-icons" style="margin-bottom:0px; font-size: 42px; border-left: 3px solid white; padding-left: 10px;">add</i>
        </div>
    </button>
    <div id="id-collapsibleSectionBrStrat" class="collapse">
        TODO:OverrideUsingJS
    </div>
    <!--Accelerator Components-->
    <button type="button" class="btn" data-toggle="collapse" data-target="#id-collapsibleSectionAccelComp">
        <div class="accelerator-buttons">
            <div style="width: 100%; text-align: center;">
                <span class="see-more-text">Accelerator Components</span>
            </div>
            <i class="material-icons" style="margin-bottom:0px; font-size: 42px; border-left: 3px solid white; padding-left: 10px;">add</i>
        </div>
    </button>
    <div id="id-collapsibleSectionAccelComp" class="collapse">
        TODO:OverrideUsingJS
    </div>
  </div>
  <!--GitHub Aliases and Photos of Contributors-->
    <div class="category">Contributors</div>
    <div class="accelerator-contributors" id="id-accelerator-contributors">
        <div class="accelerator-contributor">
            <div class="accelerator-contributor-image"> 
                <img src="TODO" alt="contributor photo" height="100" width="100">
            </div>
            <div style="margin-left:10px;">
                <p class="accelerator-contributor-text">TODO</p>
            </div>
        </div>
        <div class="accelerator-contributor">
            <div class="accelerator-contributor-image">
                <img src="TODO" alt="contributor photo" height="100" width="100">
            </div>
            <div style="margin-left:10px;">
                <p class="accelerator-contributor-text">TODO</p>
            </div>
        </div>
        <div class="accelerator-contributor">
            <div class="accelerator-contributor-image">
                <img src="TODO" alt="contributor photo" height="100" width="100">
            </div>
            <div style="margin-left:10px;">
                <p class="accelerator-contributor-text">TODO</p>
            </div>
        </div>
        <div class="accelerator-contributor">
            <div class="accelerator-contributor-image"> 
                <img src="TODO" alt="contributor photo" height="100" width="100">
            </div>
            <div style="margin-left:10px;">
                <p class="accelerator-contributor-text">TODO</p>
            </div>
        </div>
    </div>
</div>
