<!--This is part of the pageAccelerator layout, and is meant to serve as a layout for a single accelerator page-->

<!--Loading the methods to get contributors-->
<script src="{{site.baseurl}}/scripts/script-getcontributors.js" type="text/javascript"></script>

<!--HTML template for a single accelerator page-->
<div class="container-fluid">
    <!--Header Image-->
    <img id="id-title-photo" src="TODO:OverrideUsingJS" alt="header image">
    <!--Page Title-->
    <div class="title" id="id-title">TODO:OverrideUsingJS</div>
    <!--Page brief description-->
    <div class="paragraph" id="id-page-description">TODO:OverrideUsingJS</div>
    <!--Prerequisites-->
    <div class="category">Prerequisites</div>
    <div class="prerequisites" id="id-prerequisites">
        TODO:OverrideUsingJS
    </div>
    <div class="container">
        <div class="row g-2">
            <!--Access the Accelerator-->
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 accelerator-toolkit-card">
                <div class="shadow">
                    <img src="{{site.baseurl}}/images/CLO18_programmingCode_001.jpg" alt="logo">
                    <p class="toolkit-card-title">Access the Accelerator</p>
                    <p class="toolkit-card-content" id="id-access-accelerator">
                        <p id="id-text-access-accelerator">TODO:OverrideUsingJS</p> <a id="id-link-access-accelerator" href="TODO" target="_blank">TODO</a>
                    </p>
                </div>
              </div>
            <!--Industries-->
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 accelerator-toolkit-card">
                <div class="shadow">
                    <img src="{{site.baseurl}}/images/MSC19_paddingtonOffice_019.jpg" alt="logo">
                    <p class="toolkit-card-title">Industries</p>
                    <p class="toolkit-card-content" id="id-industries">TODO:OverrideUsingJS</p>
                </div>
              </div>
        </div>
    </div>
    <div class="solution-accelerator-use-case">        
        <!--Use Case-->
        <div class="accelerator-use-case">
            <p style="font-weight:600;">Use Case(s)</p>
            <p style="margin-top: 30px;" id="id-usecases">TODO:OverrideUsingJS</p>
        </div>
    </div>
    <!--Accelerator description-->
    <div class="category">Accelerator description</div>
    <div class="accelerator-description-content">        
        <div class="row g-2">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <img src="{{site.baseurl}}/images/CLO20_ConferenceRoom_003.jpg" alt="logo">
            </div>
            <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                <div class="accelerator-description" id="id-accelerator-description">
                    TODO:OverrideUsingJS
                </div>
            </div>
        </div>
    </div>
    <!--Accelerator guidance (Videos)-->
    <div id="id-accelerator-guidance-Section">
        <div class="category">Accelerator guidance</div>
        <div id="id-accelerator-guidance-videos" style="margin-top: 30px;">
            TODO:OverrideUsingJS
        </div>
    </div>
    <div class="row g-2 related-accelerators-contributing" style="margin-top: 30px;">
        <!--Link to Related Accelerator(s)-->
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <div class="shadow related-accelerators-links" id="id-related-accelerator-Section">
                <img src="{{site.baseurl}}/images/related-accelerators.png" alt="logo" height="70" width="70" style="margin-left:20px;">
                    <div id="id-related-accelerators-Section" style="display:flex; flex-direction:column; justify-content: space-between; margin-left: 20px;">
                        TODO:OverrideUsingJS
                    </div>
            </div>
        </div>
        <!--Link to Contributing Guide-->
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <div class="shadow related-accelerators-links" id="id-contributing-guide-Section">
                <img src="{{site.baseurl}}/images/contributing-guide.png" alt="logo" height="70" width="70" style="margin-left:20px;">
                    <div style="display:flex; flex-direction:column; justify-content: space-between; margin-left: 20px;">
                        <span style="font-weight:600">Contributing Guide</span>
                        <div class="d-grid">
                            <a id="id-link-contributing-guide" href="TODO" class="btn btn-primary" target="_blank" style="text-decoration:none;">Contribution guideline</a>
                        </div>
                    </div>
            </div>
        </div>        
    </div>
    <!--Technologies-->
    <div class="category" style="margin-bottom: 30px;">Technologies</div>
    <div id="id-technologies" class="technologies">
        <span><a href="TODO" target="_blank">TODO</a></span>
        <span><a href="TODO" target="_blank">TODO</a></span>
        <span><a href="TODO" target="_blank">TODO</a></span>
        <span><a href="TODO" target="_blank">TODO</a></span>
        <span><a href="TODO" target="_blank">TODO</a></span>
        <span><a href="TODO" target="_blank">TODO</a></span>
        <span><a href="TODO" target="_blank">TODO</a></span>
        <span><a href="TODO" target="_blank">TODO</a></span>
        <span><a href="TODO" target="_blank">TODO</a></span>
        <span><a href="TODO" target="_blank">TODO</a></span>
        <span><a href="TODO" target="_blank">TODO</a></span>
    </div>
  <div class="subtitle borders d-grid gap-2">
    <!--Architecture-->
    <button type="button" class="btn" data-bs-toggle="collapse" data-bs-target="#id-collapsibleSectionArch">
        <div id="id-button-collapsibleSectionArch" class="accelerator-buttons">
            <div style="width: 100%; text-align: center;">
                <span class="see-more-text">Architecture</span>
            </div>
            <i class="material-icons" style="margin-bottom:0px; font-size: 42px; border-left: 3px solid white; padding-left: 10px;">add</i>
        </div>
    </button>
    <div id="id-collapsibleSectionArch" class="collapse">
        TODO:OverrideUsingJS
    </div> 
    
    <!-- <button type="button" class="btn" data-bs-toggle="collapse" data-bs-target="#id-collapsibleSectionArch">
        <div id="id-button-collapsibleSectionArch" class="accelerator-buttons">
            <div style="width: 100%; text-align: center;">
                <span class="see-more-text">Architecture</span>
            </div>
            <i class="material-icons" style="margin-bottom:0px; font-size: 42px; border-left: 3px solid white; padding-left: 10px;">add</i>
        </div>
    </button>
    <div id="id-collapsibleSectionArch" class="collapse">
        TODO:OverrideUsingJS
    </div> -->
    <!--Branching Strategy-->
    <button type="button" class="btn" data-bs-toggle="collapse" data-bs-target="#id-collapsibleSectionBrStrat">
        <div id="id-button-collapsibleSectionBrStrat" class="accelerator-buttons">
            <div style="width: 100%; text-align: center;">
                <span class="see-more-text">Branching Strategy</span>
            </div>
            <i class="material-icons" style="margin-bottom:0px; font-size: 42px; border-left: 3px solid white; padding-left: 10px;">add</i>
        </div>
    </button>
    <div id="id-collapsibleSectionBrStrat" class="collapse">
        TODO:OverrideUsingJS
    </div>
    <!--Accelerator Components-->
    <button type="button" class="btn" data-bs-toggle="collapse" data-bs-target="#id-collapsibleSectionAccelComp">
        <div id="id-button-collapsibleSectionAccelComp" class="accelerator-buttons">
            <div style="width: 100%; text-align: center;">
                <span class="see-more-text">Accelerator Components</span>
            </div>
            <i class="material-icons" style="margin-bottom:0px; font-size: 42px; border-left: 3px solid white; padding-left: 10px;">add</i>
        </div>
    </button>
    <div id="id-collapsibleSectionAccelComp" class="collapse">
        TODO:OverrideUsingJS
    </div>
    <!--Key Accelerator Files-->
    <button type="button" class="btn" data-bs-toggle="collapse" data-bs-target="#id-collapsibleSectionKeyAcc">
        <div id="id-button-collapsibleSectionKeyAcc" class="accelerator-buttons">
            <div style="width: 100%; text-align: center;">
                <span class="see-more-text">Key Accelerator Files</span>
            </div>
            <i class="material-icons" style="margin-bottom:0px; font-size: 42px; border-left: 3px solid white; padding-left: 10px;">add</i>
        </div>
    </button>
    <div id="id-collapsibleSectionKeyAcc" class="collapse">
        TODO:OverrideUsingJS
    </div>
     <!--Live Demo-->
     <button type="button" class="btn" data-bs-toggle="collapse" data-bs-target="#id-collapsibleSectionLiveDemo">
        <div id="id-button-collapsibleSectionLiveDemo" class="accelerator-buttons">
            <div style="width: 100%; text-align: center;">
                <span class="see-more-text">Live Demo</span>
            </div>
            <i class="material-icons" style="margin-bottom:0px; font-size: 42px; border-left: 3px solid white; padding-left: 10px;">add</i>
        </div>
    </button>
    <div id="id-collapsibleSectionLiveDemo" class="collapse">
        TODO:OverrideUsingJS
    </div>
    <!--Repository Structure-->
    <button type="button" class="btn" data-bs-toggle="collapse" data-bs-target="#id-collapsibleSectionRepoStructure">
        <div id="id-button-collapsibleSectionRepoStructure" class="accelerator-buttons">
            <div style="width: 100%; text-align: center;">
                <span class="see-more-text">Repository Structure</span>
            </div>
            <i class="material-icons" style="margin-bottom:0px; font-size: 42px; border-left: 3px solid white; padding-left: 10px;">add</i>
        </div>
    </button>
    <div id="id-collapsibleSectionRepoStructure" class="collapse">
        TODO:OverrideUsingJS
    </div>
  </div>
  <!--GitHub Aliases and Photos of Contributors-->
    <div class="category">Contributors</div>
    <div id="id-accelerator-contributors">
        TODO:OverrideUsingJS
    </div>
</div>
